body {
	background-color: #000;
	margin: 0;
}

.hero{
	background-image: url(../assets/hero.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.btns {
	position: absolute;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 45%;
	left: 40%;
}

#login {
	margin: 0;
}

#login42 {
	margin-left: 300px;
}

#register {
	margin-top: 90px;
	margin-left: 150px;
}

.button-div-one {
	width: 280px;
	height: 70px;
	position: absolute;
	background: #F01E1E;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
}

.button-div-two {
	margin-left: 5px;
	width: 270px;
	height: 60px;
	position: absolute;
	background: linear-gradient(180deg, #FF2C17 0%, #FF5353 100%);
	box-shadow: 1px 1px 1px;
	border-radius: 12px;
	border: 1px white solid;
	filter: blur(1px);
}

.button-div-three {
	margin-left: 8px;
	width: 265px;
	height: 35px;
	position: absolute;
	text-align: center;
	transform: rotate(-1.14deg);
	transform-origin: 0 0;
	background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(227.37, 224.53, 224.53, 0.41) 76%);
}

#red.button-div-two:hover {
	background: #F01E1E !important;
}

#yellow.button-div-two:hover {
	background: #c38b00 !important;
}

#black.button-div-two:hover {
	background: black !important;
}

.button-text {
	text-align: center;
	color: white;
	font-size: 25px;
	font-family: 'Poetsen One', sans-serif;
	font-weight: 400;
	word-wrap: break-word;
}

#logo {
	margin-left: 70%;
	margin-bottom: 20px;
	width: 160px;
	height: 150px;
	border-radius: 20%;
}