sandbox
.DS_Store
*env
node_modules
.vscode
*/__pycache__/*
__pycache__*
db/__pycache_
**.pyc
resources
*cpython*
*.pyc
node_modules*
/data
migrations
email_logs.txt
src/backend/staticfiles
staticfiles/*
*.pem