sandbox
.DS_Store
*env
node_modules
.vscode
*/__pycache__/*
__pycache__*
db/__pycache_
**.pyc
resources
*cpython*
data
*.pyc
data
*node_modules*
migrations
client_secret_77395533333-7qmr5bj15h0i57h87roq1dghg0pp16a5.apps.googleusercontent.com.json
service-key.json