

<%- include("partials/header.ejs") %>


  <h1>Please upload your lab test below 👇</h1>

  <form action="/upload" method="post" enctype="multipart/form-data">
    <label for="file">Select a file to upload:</label>
    <input type="file" name="file" id="file">
    <button type="submit">Upload</button>
  </form>
<p>
  <% if (locals.result){%>
    
    <%= result %>
    <%}%>

    
  </p>
  <p>

  </p>
  <%- include("partials/footer.ejs") %>