*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: rgb(20, 20, 20);
  --paddle-color: rgb(200, 200, 200);
  --ball-color: rgb(200, 200, 200);
  --paddle-height: 20vh;
  --paddle-width: 1vw;
  --paddle-margin: 1vw;
  --ball-width: 2vw;
  --ball-height: 2vw;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #222;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
  padding: 5em;
  overflow: hidden;
}

canvas {
  border: 1px solid #fff;
  display: block;
  margin-bottom: 1vh;
  overflow: hidden;
}

.pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 5vw;
  display: none;
}

.nav {
  display: none;
}

.score {
  text-align: center;
  color: #fff;
  font-size: 5vw;
  margin-top: 5vh;
}

/* tournament_styles */

.bracket {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.round {
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.matchup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-name {
  display: none;
}
