html {
	height:100%;
  }
  
  body {
	margin:0;
  }
  
  .bg {
	animation:slide 3s ease-in-out infinite alternate;
	background-image: linear-gradient(-60deg, gold 50%, rgb(0, 0, 0) 50%);
	bottom:0;
	left:-50%;
	opacity:.5;
	position:fixed;
	right:-50%;
	top:0;
	z-index:-1;
  }
  
  .bg2 {
	animation-direction:alternate-reverse;
	animation-duration:4s;
  }
  
  .bg3 {
	animation-duration:5s;
  }
  
  @keyframes slide {
	0% {
	  transform:translateX(-25%);
	}
	100% {
	  transform:translateX(25%);
	}
  }
  
#registration-button {
	cursor: pointer;
	margin-top: 60px;
	margin-left: 60px;
	position: absolute;
}

.btns {
	border: solid 10px gold;
	padding: 150px;
	padding-top: 60px;
	padding-bottom: 190px;
	border-radius: 20px;
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}


.form-floating {
	color: black;
	font-size: 20px;
	font-family: 'Poetsen One', sans-serif;
	font-weight: 400;
	width: 320px;
	height: 50px;
	top: 10px;
}
.form-control:focus {
	font-size: 20px;
}

.form-floating>.form-control-plaintext~label::after, .form-floating>.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after, .form-floating>.form-select~label::after {
	background: #514949;
}

.form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
	color: #b6a5a5;
	font-size: 14px;
}

.form-floating input{
	border: 4px solid #78B5DD;
	border-radius: 15px;
	background: #514949;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-floating input.form-control {
	color: black;
	background: #514949;
	height: 70px;
}

label.form-label {
	color: black;
}

.regPageInput {
	margin: 40px;
}

.button-div-one {
	width: 280px;
	height: 70px;
	position: absolute;
	background: #F01E1E;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
}

.button-div-two {
	margin-left: 5px;
	width: 270px;
	height: 60px;
	position: absolute;
	background: linear-gradient(180deg, #FF2C17 0%, #FF5353 100%);
	box-shadow: 1px 1px 1px;
	border-radius: 12px;
	border: 1px white solid;
	filter: blur(1px);
}

.button-div-three {
	margin-left: 8px;
	width: 265px;
	height: 35px;
	position: absolute;
	text-align: center;
	transform: rotate(-1.14deg);
	transform-origin: 0 0;
	background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(227.37, 224.53, 224.53, 0.41) 76%);
}

#black.button-div-two:hover {
	background: black !important;
}

.button-text:active {
	font-size: 24px;
	line-height: 65px !important;
}

.button-text {
	cursor: pointer;
	text-align: center;
	color: white;
	font-size: 25px;
	font-family: 'Poetsen One', sans-serif;
	font-weight: 400;
	word-wrap: break-word;
	line-height: 60px;
}


#logo {
	margin-left: 130px;
	/* margin-top: 20px; */
	/* margin-left: 20px; */
	margin-bottom: -30px;
	width: 140px;
	height: 130px;
	border-radius: 20%;
	cursor: pointer;
}
